
DEBUG=true
MYSQL_USER=ccrp-user
MYSQL_PASSWORD=ccrp-pass
MYSQL_HOST=database.host
MYSQL_DATABASE=ccrp

# Website URL (with trailing slash)
INTERFACE_BROWSER_URL="https://example.com/"

# Backend API URL (with trailing slash)
API_ENDPOINT="http://example.com/api/v1/"

REDIS_HOST="example.com"
REDIS_PORT=6379